*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "poppins", sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    
    background-color: #071019;
    color: white;
}

header{
    margin-top: 20px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 3rem;
    color: #4f4375;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover, nav a.active{
    color: #4f4375;
    border-bottom: 3px solid #4f4375;
}

@media (max-width:995px){
    nav{
        position: absolute;
        display: none;
        top:0;
        right: 0;
        width: 40%;
        border-left: 3px solid red;
        border-bottom: 3px solid red;
        border-bottom-left-radius: 2rem;
        padding:1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0, 0, 0, 1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover, nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem;
    }   
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #071019;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #4f4375;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    height: 90vh;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid ;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img {
    /* width: 600px;
    height: 600px; */
    mask-image: linear-gradient(
        to right,   
        rgb(7,16,25, 1) 70%, 
        rgba(7, 16, 25, 0) 100% );
    -webkit-mask-image: linear-gradient( 
        to right,
        rgba(7, 16, 25, 1) 70%,
        rgba(7, 16, 25, 0) 100%
    );
 }
 

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #4f4375;
    color: #4f4375;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem;
    transition: 0.3s ease;
}

.social-icons a:hover{
    color: #071019;
    transform: scale(1.3) translateY(-5px);
    background-color: #4f4375;
    box-shadow: 0 0 25px #4f4375;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #071019;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #4f4375;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #4f4375;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform:scale3d(1.03);
    background-color: #4f4375;
    color: #071019;
    box-shadow: 0 0 25px #4f4375;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Front-end Developer";
    color: #4f4375;
    animation: words 20s infinite;
}

/* .typing-text span::after{
    content: "";
    background-color: #071019;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #071019;
    right: -8px;
    animation: cursor 0.6s infinite;
} */

@keyframes cursor{
    to{
        border-left: 3px solid #4f4375;
    }
}

@keyframes words{
    0%, 20%{
        content:"Web Designer";
    }
    21%, 40%{
        content:"Front-end Developer";
    }
    41%, 60%{
        content:"Web Designer";
    }
    61%, 80%{
        content:"Front-end Developer";
    }
    81%, 100%{
        content:"Web Designer";
    }
}

@media (max-width:1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        
        margin-top: 4rem;
    }
}


@keyframes typing{
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0; 
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%, 100%{
        width: calc(100% + 8px); 
    }
}

.home-content p{
    font-size: 20px;
}


.typing-text span::after{
    content: ""; 
    background-color: #071019;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #071019;
    right: -8px; 
    
    
    animation: cursor 0.6s infinite, typing 20s steps(15) infinite; 
}






